
.bodywrapper .irclogs .yearsMenu a,
.bodywrapper .irclogs .monthMenu a,
.bodywrapper .irclogs .daysMenu a {
    text-decoration: none;
}
.bodywrapper .irclogs .yearsMenu span,
.bodywrapper .irclogs .monthMenu span,
.bodywrapper .irclogs .daysMenu span {
    display: inline-block;
    min-width: 4em;
}
.bodywrapper .irclogs .yearsMenu .selected,
.bodywrapper .irclogs .monthMenu .selected,
.bodywrapper .irclogs .daysMenu .selected {
    font-weight: bold;
    text-decoration: underline;
}

.bodywrapper .irclogs .yearsMenu ul,
.bodywrapper .irclogs .monthMenu ul,
.bodywrapper .irclogs .daysMenu ul {
    display: inline
}

.irclogs .chatlog {
    width: 100%;
    padding-top: 20px;
    line-height: 1em
}

.irclogs h1 {
    font-size: 1.5em;
    margin: .8em 0 0 .4em;
    border: 0
}

.irclogs td {
    vertical-align: top
}

.irclogs .time {
    color: #202020;
    font-size: 11px;
    padding: 0 10px 0 0;
    margin: 0;
    white-space: nowrap;
}

.irclogs .time .small{
    font-size: 80%;
}

.irclogs .name {
    color: #202020;
    font-size: 11px;
    padding: 0 10px 0 0;
    text-align: right;
    width: auto;
    margin: 0
}

.irclogs .removed {
    color:#ff6060;
    font-style: italic;
}

.irclogs .text {
    color: #202020;
    font-size: 11px;
    padding: 0 5px 0 0;
    width: 100%;
    margin: 0
}

.irclogs table {
    margin-top: 10px
}

.irclogs td,.irclogs th,.irclogs tr {
    border-bottom: 0;
    margin: 0;
    padding: 0
}
